    if SHIELD_SPARKLEKEYBOARD2_LEFT
    
    config ZMK_KEYBOARD_NAME
    	default "sk_l"
    
    config ZMK_SPLIT_BLE_ROLE_CENTRAL
    	default y
    
    endif
    
    if SHIELD_SPARKLEKEYBOARD2_RIGHT
    
    config ZMK_KEYBOARD_NAME
    	default "sk_r"
    	
    endif
    
    if SHIELD_SPARKLEKEYBOARD2_LEFT || SHIELD_SPARKLEKEYBOARD2_RIGHT
    
    config ZMK_SPLIT
    	default y
    
    endif
