    # Copyright (c) 2020 Pete Johanson
    # SPDX-License-Identifier: MIT
    
    config SHIELD_SPARKLEKEYBOARD2_LEFT
    	def_bool $(shields_list_contains,sparkleKeyboard2_left)
    
    config SHIELD_SPARKLEKEYBOARD2_RIGHT
    	def_bool $(shields_list_contains,sparkleKeyboard2_right)
